<div id="main">
    <img src="../../assets/logo.png" width="512px">
    <nav>
        <ul>
            <li>
                <a class="navLink" href="/">Home</a>
            </li>
            <li class="dot">∙</li>
            <li>
                <a href="https://woodlake.bandcamp.com/" class="navLink">Music</a>
            </li>
            <li class="dot">∙</li>
            <li>
                <a href="https://www.youtube.com/channel/UC_ENX5AswjVBz0aGxnsfd0g/videos" class="navLink">Videos</a></li>
            <li class="dot">∙</li>
            <li >
                <a class="navLink" href="/blog">Blog</a>
            </li>
            <li class="dot">∙</li>
            <li>
                <a class="navLink" href="/gallery">Gallery</a>
            </li>
            <li class="dot">∙</li>
            <li>
                <a class="navLink" href="/contact">Contact Us</a>
            </li>
        </ul>
        </nav>
</div>
<div id="mobile">
    <img src="../../assets/logo.png" width="250px">
    <nav>
        <button id="hamburger" (click)='openMobileNav()'>☰</button>
        <div id="mobileNav">
            <button id="close" (click)='closeMobileNav()'>X</button>
            <ul>
                <li>
                    <a class="navLink" href="/">Home</a>
                </li>
                <li class="dot">∙</li>
                <li>
                    <a href="https://woodlake.bandcamp.com/" class="navLink">Music</a>
                </li>
                <li class="dot">∙</li>
                <li>
                    <a href="https://www.youtube.com/channel/UC_ENX5AswjVBz0aGxnsfd0g/videos" class="navLink">Videos</a>
                </li>
                <li class="dot">∙</li>
                <li >
                    <a class="navLink" href="/blog">Blog</a>
                </li>
                <li class="dot">∙</li>
                <li>
                    <a class="navLink" href="/gallery">Gallery</a>
                </li>
                <li class="dot">∙</li>
                <li >
                    <a class="navLink" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
</div>