
<div id="imgHolder">
    <img id="mainImg" src='{{ "../../assets/pics/21.jpg" }}'>
</div>
<h3>bio</h3>
<p>Wood Lake is a band from Ottawa, Ontario that is currently comprised of Harry McGuire (guitar/vocals), Rhian Meaney (drums), Paige Genest (piano/double bass) and Colin Boudreault (electric bass/vocals). Their sound can be classified as “dark indie,” having been influenced by acts such as Mount Eerie, Agalloch and Boards of Canada.</p>
<p>Following the release of 2018’s Purgatory, which was composed and produced exclusively by McGuire, Wood Lake have reunited to create their third full-length LP, entitled <i>Mer Bleue</i>. This new album expands upon ideas and motifs that are present in previous releases, using new instrumentation and production techniques to create a newly evolved and highly engaging listening experience.</p>
<p>Inspired by McGuire’s time in Warsaw as well as the band’s hometown of Ottawa, <i>Mer Bleue</i> combines widely divergent sources of musical inspiration to craft a sound that is as soothing as it is unsettling. Warm guitars combine with cold synths and harsh noise plays off of glistening piano performances in order to create Wood Lake’s most sonically intriguing release yet.</p>
<div id="epkContainer">
<div class="flex" id="mainEpk">
    <div class="section">
        <h3>music and social media</h3>
        <ul id="socialLinks">
            <li><a href='https://www.facebook.com/TheRealWoodLake'>Facebook</a></li>
            <li href="https://woodlake.bandcamp.com/"><a>Bandcamp</a></li>
            <li><a href="https://www.youtube.com/channel/UC_ENX5AswjVBz0aGxnsfd0g/videos">Youtube</a></li>
        </ul>
        
    </div>
    <div class="section">
        <h3>track listing</h3>
        <div class="flex">
            <img id="cover" src="../../assets/cover.jpeg">
            <ul id="tracks">
                <li>1. A Brief Respite</li>
                <li>2. Escape to the Woods</li>
                <li>3. It's Not What It Was</li>
                <li>4. Almonte (Rest I)</li>
                <li>5. Perish (Rest II)</li>
                <li>6. Lost Meaning</li>
                <li>7. No One Lives Here</li>
                <li>8. Some Things Are Worth Saving</li>
                <li>9. Mer Bleue</li>
            </ul>
        </div>
    </div>
</div>
</div>
