<div id="imgHolder">
    <img id="mainImg" src='{{ "../../assets/random/" + imgId + ".jpg" }}'>
</div>
<p>
    Wood Lake’s roots can be traced back to 2012, when the band formed as a trio featuring Harry McGuire (guitar/vocals), Colin Boudreault (bass) and Rhian Meaney (drums). Originally influenced by progressive rock bands of the 60s and 70s, the band’s style would quickly shift towards a more distinctive sound that was influenced by genres such as shoegaze, black metal and folk music. Their first album, 2014’s For Future Generations, saw the band marry these divergent motifs together in a whirlwind of sonic experimentation that’s wrapped up in a nature-inspired, lo-fi aesthetic.    
</p>


<p>
    Shortly afterwards, Wood Lake travelled from their hometown of Ottawa to the city of Toronto in order to create their second full-length album, 2016’s Hell. It was recorded at Dream House Studios with Calvin Hartwick serving as the lead producer on the album. This effort saw Wood Lake incorporate a litany of pop elements into their sound, culminating in the singles “Head in the Sand” and “Hollow.” This would be the last album that Wood Lake would release as a trio for four years; their follow-up effort, 2018’s Purgatory, was an EP written and produced exclusively by Harry McGuire.    
</p>

<p>
    In 2020, however, the band is set to release their third full-length album, <i>Mer Bleue</i>. Not only does the upcoming record feature the return of members Colin Boudreault and Rhian Meaney, but Wood Lake also included the artistic input of Paige Genest (piano/double bass) on this record, who has been featured in live performances with the band since 2015. Together, the newly formed quartet will be delivering an album that seeks to maintain the best aspects of previous releases while simultaneously including new instruments and production techniques for a novel and engaging listening experience.    
</p>